#home {
    padding-top: 50px;
}
.front {
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    margin: 0 0 30px;
    text-align: center;

    .headline{
        font-size: 72px;
        line-height: 85px;
        color: $dark-blue;
        margin: 0 0 10px;
    }
    .text{
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: $dark-blue;
        margin: 0 0 30px;
    }
    .image {
        margin: 0 0 30px;

        img {
            width: 160px;
        }
    }
    ul {
        li{
            list-style-type: none;
        }
    }
    .gform_body{
        .ginput_container {
            textarea{
                input::placeholder{
                    color: #1AA5F4;
                }
            }
        }
    }
    .form-container{
        .form{
            label{
                color: $dark-blue;
                text-align: left;
                font-family: $body-font;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;

                + input[type="text"]{
                    height: 51px;
                    background-color: #EAF7FC;
                    border: 2px solid #1AA5F4;
                    box-sizing: border-box;
                    border-radius: 20px;
                    padding: 2px 10px;
                    width: 100%;
                }

                .ginput_container {
                    .ginput_container_textarea{
                        input::placeholder{
                            color: #1AA5F4;
                        }
                    }
                }
            }
        }
        input[type="submit"] {
            &:hover{
                background-color: $dark-gray;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .front {
        .headline {
            font-size: 42px;
            line-height: 1;
        }
        .text {
            font-size: 21px;
            line-height: 1;
        }
    }
}
