.footer{

    text-transform: uppercase;

    .links{
        font-family: Rubik;
        margin: auto;
        align-items: center;
        text-align: center;

        .footer-nav{
            color: $white;
            padding: 20px;
            text-decoration: none;

            a, a:visited{
                color: $white;
            }

            li{
                display: inline-block;
                color: $white;
                padding-left: 40px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21.33px;
            }
         
            a:hover {

                color: $white;
                text-decoration: none;
            }
        }
    }
}